#font-families
{
    display: block;
    overflow: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 240px;
    white-space: pre;
    -ms-word-wrap: normal;
    word-wrap: normal;
    resize: none;
}

#footer, #header
{
    background-color: rgba(93, 174, 255, 0.38);
}

#footer, #header, #main, #preview-area-container, #sidebar
{
    overflow: auto;
}

#footer, #header, #preview-header, #sidebar
{
    padding-right: 1em;
    padding-left: 1em;
}

#preview, #text-container, #text-control-container
{
    overflow: hidden;
}

#preview-area
{
    text-rendering: optimizeLegibility;
}

#preview-area-container
{
    -webkit-box-shadow: inset 0.1em 0.1em 0.6em #616161;
    box-shadow: inset 0.1em 0.1em 0.6em #616161;
}

#preview-header
{
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    background-color: rgba(255, 164, 0, 0.38);
}

#sidebar
{
    float: left;
    background-color: rgba(210, 228, 177, 0.38);
}

#text
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

#text-label
{
    float: left;
}

#text-size-container
{
    float: right;
    margin-left: 1em;
}

.bold
{
    font-weight: bold;
}

.italic
{
    font-style: italic;
}

.text-label-fix
{
    visibility: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 0;
}

body
{
    margin: 0;
    font: 9pt "Lucida Grande", "Lucida Sans", "Segoe UI", Verdana, "Segoe Symbol", sans-serif;
}

h1, h2, h3, h4, h5, h6
{
    font-family: "Trebuchet MS", "Segoe UI", Verdana, "Segoe Symbol", sans-serif;
}

input
{
    font: inherit;
}

input[type="text"], textarea
{
    padding: 0.125em;
    outline: none;
    border: 1px solid #676b82;
    background-color: #eaeaea;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    -webkit-transition-duration: 0.25s;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    -moz-transition-property: background-color, border-color;
    -o-transition-property: background-color, border-color;
    -webkit-transition-property: background-color, border-color;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-property: background-color, border-color;
}

input[type="text"]:focus, textarea:focus
{
    border-color: #ff6a00;
    background-color: #fff;
}
