.menubar
{
    margin: 0;
    padding: 0.25em;
    background-color: #e6edf3;
    white-space: nowrap;
    cursor: default;
}

.menubar::after
{
    display: block;
    clear: both;
    content: "";
}

.menubar li
{
    position: relative;
}

.menubar li:hover > div
{
    background-color: rgba(226, 255, 0, 0.38);
}

.menubar li:hover > menu
{
    opacity: 1.0;
    pointer-events: initial;
}

.menubar div, .menubar menu
{
    -moz-transition: all ease 0.25s;
    -o-transition: all ease 0.25s;
    -webkit-transition: all ease 0.25s;
    transition: all ease 0.25s;
}

.menubar menu
{
    position: absolute;
    margin: 0;
    padding: 0.5em;
    background-color: #fff;
    -webkit-box-shadow: 0.125em 0.125em 0.75em #6f6f6f;
    box-shadow: 0.125em 0.125em 0.75em #6f6f6f;
    opacity: 0;
    pointer-events: none;
}

.menubar menu div
{
    margin: 0 -0.25em;
    padding: 0 0.5em;
}

.menubar menu div:not(:only-child)::after
{
    float: right;
    margin-left: 0.5em;
    content: "▸";
}

.menubar menu menu
{
    top: 0;
    left: 100%;
}

.menubar > li
{
    float: left;
    margin: 0.25em;
}

.menubar > li > div
{
    padding: 0.25em;
    background-color: #c7e9f3;
}

.menubar > li > menu
{
    top: 100%;
    left: 0;
}

.menubar, .menubar menu
{
    list-style: none;
}
