#main {
  font-size: 9pt;
}
#unicode-characters {
  margin: auto;
  border-collapse: collapse;
  background-color: #f7fafb;
  white-space: nowrap;
}
#unicode-characters tr td:nth-child(even) {
  padding: 2pt 2pt 2pt 0;
  border-top: 2pt solid #90adcc;
  border-right: 2pt solid #90adcc;
  border-bottom: 2pt solid #90adcc;
}
#unicode-characters tr td:nth-child(even) > span {
  display: inline-block;
  border: 1px solid rgba(107, 134, 62, 0.62);
  background-color: #fff;
}
#unicode-characters tr td:nth-child(odd) {
  padding: 2pt;
  border-top: 2pt solid #90adcc;
  border-bottom: 2pt solid #90adcc;
  border-left: 2pt solid #90adcc;
  font-size: 9pt;
}
a:link {
  color: #1f58be;
  text-decoration: none;
}
a:hover {
  color: #1e68ed;
  text-decoration: underline;
}
a:visited {
  color: #bf20a0;
}
body {
  font-family: "Segoe UI", "Microsoft YaHei", sans-serif;
}
button,
input,
select {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 18pt;
  font: inherit;
}
div[role="toolbar"] {
  margin: 0.25em auto;
}
div[role="toolbar"] > span[role="separator"] {
  margin: auto 0.25em;
}

