#data-source-option
{
    float: left;
}

#dota-heroes-data-content
{
    clear: both;
    overflow: auto;
    -webkit-box-shadow: inset 0 1px 3px #e4e4e4;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0.5em;
    border: 1px solid #c0c0c0;
    box-shadow: inset 0 1px 3px #e4e4e4;
}

#footer
{
    position: absolute;
    bottom: 0;
}

#translate-option
{
    float: right;
}

.data-table
{
    border-collapse: collapse;
    border-top: 2px solid #808080;
    border-bottom: 2px solid #808080;
    font: 9pt Calibri, "Microsoft YaHei", sans-serif;
}

.data-table > thead
{
    border-bottom: 1px solid #808080;
}

.data-table > * > * > td, .data-table > * > * > th
{
    padding: 0 0.5em;
    white-space: nowrap;
}

body
{
    font: 9pt "Segoe UI", "Microsoft YaHei", sans-serif;
}
