.color-table-container > table
{
    border-collapse: collapse;
    border-top: 2pt solid black;
    border-bottom: 2pt solid black;
}

.color-table-container > table > * > tr > td, .color-table-container > table > * > tr > th
{
    padding: 0 0.5em;
    text-align: left;
}

.color-table-container > table > tbody > tr
{
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.color-table-container > table > tbody > tr:nth-child(odd)
{
    background-color: rgba(206, 224, 233, 0.44);
}

.color-table-container > table > tbody > tr:hover
{
    background-color: rgba(209, 255, 0, 0.15);
}

.color-table-container > table > thead
{
    border-bottom: 1pt solid black;
}
