#tab-page-contents > div, #tab-page-titles > li
{
    padding: .25em;
}

#tab-page-contents > div, #tab-page-titles > li.tab-page-title-selected
{
    background-color: #e0e9ed;
}

#tab-page-contents > div:not(.tab-page-content-selected)
{
    display: none;
}

#tab-page-titles
{
    margin: 0;
    padding: 0;
    list-style: none;
}

#tab-page-titles > li
{
    display: inline-block;
    background-color: rgba(224, 233, 237, 0.0);
    cursor: pointer;
    -moz-transition: background-color ease 0.25s;
    -o-transition: background-color ease 0.25s;
    -webkit-transition: background-color ease 0.25s;
    transition: background-color ease 0.25s;
}

#tab-page-titles > li:not(.tab-page-title-selected):hover
{
    background-color: rgba(224, 233, 237, 0.5);
}
