#sortable-table
{
    margin: auto;
    border-collapse: collapse;
}

#sortable-table > colgroup > col
{
    -moz-transition: background-color ease 0.25s;
    -o-transition: background-color ease 0.25s;
    -webkit-transition: background-color ease 0.25s;
    transition: background-color ease 0.25s;
}

#sortable-table > tbody > tr:nth-child(even)
{
    background-color: rgba(193, 241, 206, 0.38);
}

#sortable-table > tbody > tr:hover
{
    outline: 2pt solid rgba(255, 106, 0, 0.618);
}

#sortable-table > tbody > tr > td, #sortable-table > thead > tr > th
{
    padding: 0.125em 0.25em;
}

#sortable-table > thead
{
    background-color: rgba(169, 204, 230, 0.618);
}

#sortable-table > thead > tr > th
{
    vertical-align: bottom;
    text-align: left;
    cursor: pointer;
    -moz-transition: background-color ease 0.25s;
    -o-transition: background-color ease 0.25s;
    -webkit-transition: background-color ease 0.25s;
    transition: background-color ease 0.25s;
}

#sortable-table > thead > tr > th:hover
{
    background-color: rgba(150, 207, 250, 0.62);
}

.sort-col-head-ascend::before, .sort-col-head-descend::before
{
    display: block;
    text-align: center;
    font-size: 38.2%;
}

.sort-col-head-ascend::before
{
    content: "▲";
}

.sort-col-head-descend::before
{
    content: "▼";
}

.sort-col
{
    background-color: rgba(221, 221, 221, 0.382);
}
