#random-string-generator
{
    margin: auto;
}

#random-string-generator tr td:first-child
{
    text-align: right;
}

#result
{
    text-align: center;
}

#result-container
{
    background-color: #def;
    border: 4pt solid #8cf;
    border-radius: 8pt;
    box-sizing: border-box;
    display: inline-block;
    font-size: 36pt;
    margin: auto;
    max-width: 100%;
    overflow: auto;
    padding: 0.25em;
}

button, input
{
    font: inherit;
}
